<%= form_with(model: user_transaction, local: true) do |form| %>
  <% if user_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_transaction.errors.count, "error") %> prohibited this user_transaction from being saved:</h2>

      <ul>
        <% user_transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class:'label' %>
    <%= form.text_field :name, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :amount, class:"label" %>
    <%= form.text_field :amount, class:"input" %>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success is-fullwidth" %>
  </div>
<% end %>
