

<div class="columns is-centered">
  <div class="column is-6">
    <div class="card card-content">
      <div class="content">
        <p id="notice"><%= notice %></p>

        <h1 class="has-text-centered">User Transactions</h1>

        <% @user_transactions.each do |user_transaction| %>
          <div class="box">
            <%= link_to user_transaction do %>
              <div class="columns has-text-dark">
                <div class="column is-6">
                  <span>
                    <%= icon(first_transaction_icon(user_transaction.id))%>
                    <span class="is-size-3">
                      <%= user_transaction.name.capitalize %>
                    </span>
                  </span>
                </div>
                <div class="column is-6 has-text-right">
                  <span class="is-size-4"><strong>Amount:</strong> $<%= user_transaction.amount %></span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to 'New User Transaction', new_user_transaction_path, class:"button is-success mt-3 is-fullwidth" %>
  </div>
</div>
