<p id="notice"><%= notice %></p>

<h1>User Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_transactions.each do |user_transaction| %>
      <tr>
        <td><%= user_transaction.name %></td>
        <td><%= user_transaction.amount %></td>
        <td><%= user_transaction.user_id %></td>
        <td><%= link_to 'Show', user_transaction %></td>
        <td><%= link_to 'Edit', edit_user_transaction_path(user_transaction) %></td>
        <td><%= link_to 'Destroy', user_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Transaction', new_user_transaction_path %>
