<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class:"label" %>
    <%= form.text_field :name, class:"input" %>
  </div>

  <div class="field outer-feild">
    <span class="mleft"><strong><%= form.label :icon %>(Choose An Icon bellow)</strong></span>
    <div class="container-div">
      <div class="columns">
        <div class="column is-4">
          <%= form.radio_button :icon, 'fab fa-amazon fa-2x' %> <i class="fab fa-amazon fa-2x"></i><br>
        </div>
        <div class="column is-4">
          <%= form.radio_button :icon, 'fab fa-shopify fa-2x' %> <i class="fab fa-shopify fa-2x"></i><br>
        </div>
        <div class="column is-4">
          <%= form.radio_button :icon, 'fas fa-briefcase-medical fa-2x' %> <i class="fas fa-briefcase-medical fa-2x"></i><br>
        </div>
      </div>

      <div class="columns">
        <div class="column is-4">
          <%= form.radio_button :icon, 'fas fa-money-bill-alt fa-2x' %> <i class="fas fa-money-bill-alt fa-2x"></i><br>
        </div>
        <div class="column is-4">
          <%= form.radio_button :icon, 'fab fa-500px fa-2x' %> <i class="fab fa-500px fa-2x"></i><br>
        </div>
        <div class="column is-4">
          <%= form.radio_button :icon, 'fab fa-bitcoin fa-2x' %> <i class="fab fa-bitcoin fa-2x"></i><br>
        </div>
      </div>

      <div class="columns">
        <div class="column is-4">
          <%= form.radio_button :icon, 'fas fa-ad fa-2x' %> <i class="fas fa-ad fa-2x"></i><br>
        </div>
        <div class="column is-4">
          <%= form.radio_button :icon, 'fab fa-apple fa-2x' %> <i class="fab fa-apple fa-2x"></i><br>
        </div>
        <div class="column is-4">
          <%= form.radio_button :icon, 'fas fa-atlas fa-2x' %> <i class="fas fa-atlas fa-2x"></i><br>
        </div>
      </div>

      <div class="columns">
        <div class="column is-4">
          <%= form.radio_button :icon, 'fas fa-folder-open fa-2x' %> <i class="fas fa-folder-open fa-2x"></i><br>
        </div>
        <div class="column is-4">
          <%= form.radio_button :icon, 'fab fa-apple fa-2x' %> <i class="fab fa-apple fa-2x"></i><br>
        </div>
        <div class="column is-4">
          <%= form.radio_button :icon, 'fas fa-atlas fa-2x' %> <i class="fas fa-atlas fa-2x"></i><br>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
