<div class="columns is-centered">
  <div class="column is-6">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <p id="notice"><%= notice %></p>

          <p>
            <strong>Name:</strong>
            <%= @group.name %>
          </p>

          <p>
            <strong>Icon:</strong>
            <%= icon(@group.icon) %>
          </p>


          <%= link_to 'Edit', edit_group_path(@group) %> |
          <%= link_to 'Back', groups_path %>
        </div>
      </div>
    </div>
  </div>
</div>
