
<div class="columns is-centered">
  <div class="column is-4 is-12-mobile">
    <div class="card">
      <div class="has-background-primary mx-3">
        <p class='has-text-centered is-size-2 py-5'>
          <i>
            Group Our <br>
            Transactions
          </i>
        </p>
      </div>
      <div class="card-content">
        <div class="content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field my-5">
              <%= f.text_field :username, class:'input has-text-centered', placeholder:"Username" %>
            </div>

            <div class="field">
              <%= f.password_field :password, value: user_login_password, type: :hidden %>
            </div>

            <div class="actions my-5">
            <button class="button is-primary is-fullwidth" type="submit">
              <span>
                <%= login_icon %> &nbsp;&nbsp;&nbsp; <span class="is-size-3 my-2">Log In</span>
              </span>
            </button>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
