<nav class="navbar has-background-success" role="navigation" aria-label="main navigation" >
  <div class="navbar-brand">
    <% if user_signed_in? %>
      <input type="checkbox" class="checkbox is-hidden-desktop">
      <div class="menu-bars is-hidden-desktop has-text-white">
        <i class="fa fa-bars fa-2x"></i>
      </div>

      <div class="menul-bars is-hidden-desktop has-text-white">
        <i class="fa fa-times fa-2x"></i>
      </div>
      <div class="profile-container">
        <div class="flex-container">
          <div class="user-profile has-text-white">
            <div><%= profile_icon %></div>
            <div><%= current_user.username.capitalize %></div>
          </div>
          <div class="links-container" id="myLinks">
            <%= link_to user_transactions_path, class:"has-text-white" do %>
              <span><i class="fas fa-money-bill-alt fa-2x"></i><span class="is-size-3"> All My Transactons</span></span>
            <% end %>
            <%= link_to external_transactions_path, class:"has-text-white"  do %>
              <span><i class="fas fa-money-bill-alt fa-2x"></i><span class="is-size-3"> All External Transactons</span></span>
            <% end %>
            <%= link_to  groups_path, class:"has-text-white"  do %>
              <span><i class="fas fa-users-cog fa-2x"></i><span class="is-size-3"> All Groups</span></span>
            <% end %>
            <%= link_to  destroy_user_session_path, method: :delete, class:"has-text-white my-5 py-5 has-text-centered"  do %>
              <span><i class="fas fa-sign-out-alt"></i><span class="is-size-4">Sign Out</span></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="navbar-item">
      <span class="is-size-4 has-text-white ml-5">Group Our transactions</span>
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
            <%= link_to 'transactions', user_transactions_path, class:"navbar-item" %>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
      <%if user_signed_in? %>
        <div class="buttons">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"button is-light" %>
        </div>
        <% else %>
        <div class="buttons">
          <%= link_to 'Sign Up', new_user_registration_path, class:"button is-light" %>
          <%= link_to 'Log In', new_user_session_path, class:"button is-light" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>